.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 150px 1fr auto;
  align-items: center;
  height: 100vh;
}

body {
  color: #262626;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  text-align: start;
}